.table_layout{ border-collapse: collapse; }

.table_cell,.main_product{
	border: 1px solid #eaeaea;
	background-color: #fff;
	background-clip: padding-box;
}

.main_product{ border-right-width: 0px !important; }

.table_cell::after,
.main_product::after{
	display: none !important;
}

.table_layout.list_view .table_row > .table_cell{ border-bottom-width: 0px !important; }

.table_layout.list_view .table_row:last-child > .table_cell:last-child{ border-bottom-width: 1px !important; }


.dropdown .animated_item iframe{ visibility: hidden; opacity: 0; }
.dropdown.active .animated_item iframe{ visibility: visible; opacity: 1; }