

.prop-div-select {
    border: solid 2px red;
    padding: 3px 5px !important;
}

.prop-select {
    border: solid 2px red;
    padding: 3px 5px !important;
}
.disable{
    background: beige;
    border: none;
}
.img-prop-select {
    border: solid 2px red;
    padding: 0 !important;
    margin: 3px 10px !important;
}